.main-layout {
  margin-top: 2%;
}

.side-bar {
  position: absolute;
  justify-content: space-evenly;
  margin-left: 1%;
  max-height: 1vh;
}

.dashboard {
  margin-left: 5%;
  display: flex;
}

.graphs {
  margin-bottom: 5%;
}

.about {
  position: relative;
  bottom: 0;
  top: 0;
  margin-top: 0;
  height: 60vh;
  background: url("../assets/Darwin_Logo_transparent.png") no-repeat center,
    radial-gradient(
      circle at 50% 50%,
      rgb(107, 120, 152),
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    );
  background-size: 10%, auto;
  opacity: 0.5, auto;
}

.timeboxes {
  margin-left: 20%;
  margin-right: 20%;
}
