.main-layout {
  margin-top: 2%;
}

.side-bar {
  position: absolute;
  justify-content: space-evenly;
  margin-left: 1%;
  max-height: 1vh;
}

.dashboard {
  margin-left: 5%;
  display: flex;
/* justify-content: center; */
}

/* .content{
  display: flex;
} */

.graphs{
  margin-bottom: 5%;
}

.about{
  margin-top: 0;
  height: 80vh;
  background: url('../assets/Darwin_Logo_transparent.png') no-repeat right bottom, radial-gradient(circle at 50% 50%, rgb(107, 120, 152), rgb(0, 0, 0), rgb(0, 0, 0));
  background-size: 10%, auto;
  opacity: 0.2, auto;
}

.timeboxes{
  margin-left: 20%;
  margin-right: 20%;
}